.CreateTodoButton {
    background-color: #2f77ca;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border:none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 1;
    transition: transform 180ms ease-out, box-shadow 180ms ease-out, background-color 180ms ease-out;
}

.CreateTodoButton:hover {
    background-color: #2869AF;
    box-shadow: 0px 10px 30px rgba(47, 119, 202, 0.45);
    transform: translateY(-5px) scale(1.15);
}